In [1]:
import numpy as np
import pandas as pd

In [2]:
# Creating a data frame
cars_train=pd.read_csv('cars_train.csv')
cars_test=pd.read_csv('cars_test.csv')

In [5]:
print(cars_train.shape)
cars_train.head()

(1381, 7)

  vhigh   high      3  more  small   low  unacc
0   low  vhigh      3     4  small   med  unacc
1   low   high  5more  more    big   low  unacc
2  high    med      4     2  small   med  unacc
3   low    low      3  more    big   med   good
4   low    low      2     4    big  high  vgood

In [6]:
print(cars_test.shape)
cars_test.head()

(345, 7)

     med  vhigh 5more     4  small   low  unacc
0  vhigh   high     2     2    big   med  unacc
1    low   high     2  more  small   low  unacc
2  vhigh  vhigh     3     2    big  high  unacc
3    low    med     4     4    med   med   good
4  vhigh    low     3  more    med   low  unacc